useDynLib(arrowmetal, .registration = TRUE)

export(am_array)
export(am_argsort)
export(am_available)
export(am_buffer_alignment)
export(am_compare)
export(am_device_name)
export(am_filter)
export(am_format)
export(am_group_by)
export(am_lib_path)
export(am_load_error)
export(am_max)
export(am_mean)
export(am_min)
export(am_null_count)
export(am_plan_explain)
export(am_plan_run)
export(am_plan_source)
export(am_slice)
export(am_sort)
export(am_sum)
export(am_take)
export(am_version)
export(as_arrow_array)
export(is_am_array)

S3method(as_arrow_array, am_array)
S3method(as_arrow_array, default)
S3method(length, am_array)
S3method(print, am_array)
S3method(print, am_groupby)
S3method(print, am_plan_result)
S3method(as.vector, am_array)
